@mixin font-family {
    font-family: "Noto Sans TC", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #000;
    text-align: center;
}

h2 {
    font-size: 38px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 25px;
    font-weight: 600;
}

h5 {
    font-size: 25px;
    font-weight: 600;
    font-weight: bold;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}
@media screen and (max-width: 767px) {
    h4 {
        font-size: 20px;
    }
}
