section {
    margin-top: 50px;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}
button {
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
}

// System Response
#system-response {
    position: fixed;
    top: 5px;
    left: 50%;
    background: #c86370;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
    z-index: 101;
    text-align: center;

    p {
        margin: 0;
    }
}

// Define animation
@keyframes fadeIn {
    0% {
        opacity: 2;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fadeOut {
    animation-name: fadeOut;
}
