@import "./navbar";
@import "./font";
@import "./general";

body {
    overflow: hidden;
}

// Upgrade plan alert
#upgrade-plan {
    display: none;
    position: fixed;
    top: 5px;
    right: 0;
    background: #c86370;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 101;
    text-align: center;

    p {
        margin: 0;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

/** Progress Bar*/
#progress-bar.home,
#img-uploa.home {
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
        opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
}
#progress-bar.after-scroll.home,
#img-upload.after-scroll.home {
    transform: rotateZ(0deg);
}

#progress-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    color: #666;
    font-weight: bold;
}
#progress-bar li {
    opacity: 0.3;
}
#progress-bar li.active {
    color: #000;
    opacity: 1;
    color: rgb(200, 99, 113);
}
#progress-bar li:first-child div::before {
    vertical-align: middle;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f093";
    margin: 0 10px;
}
@media screen and (max-width: 767px) {
    #progress-bar ul {
        width: 100%;
    }
    #progress-bar li:first-child div::before {
        margin: 0;
    }
}

#progress-bar li:nth-child(2) div::before {
    vertical-align: middle;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1fc";
    margin: 0 10px;
}

#progress-bar li:nth-child(3) div::before {
    vertical-align: middle;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    margin: 0 10px;
}

#progress-bar li .tobe-cont::after {
    vertical-align: middle;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    vertical-align: middle;
    margin: 0 30px;
}

/**Upload Image*/
#img-upload .upload-area {
    min-height: 500px;
    background: linear-gradient(45deg, rgb(238, 238, 238) 25%, transparent 25%),
        linear-gradient(-45deg, rgb(238, 238, 238) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgb(238, 238, 238) 75%),
        linear-gradient(-45deg, transparent 75%, rgb(238, 238, 238) 75%);
    background-size: 20px 20px;
    background-position: 0px 0px, 0px 10px, 10px -10px, -10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#img-upload .upload-area i {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size: 25px;
    display: none;
}
#img-upload .upload-area img {
    object-fit: scale-down;
    width: 100%;
    max-height: 466px;
}
@media screen and (max-width: 767px) {
    #img-upload .upload-area {
        width: 100%;
    }
}

/** Slider*/
#select-style .swiper-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#select-style .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 20px;
    opacity: 0.6;
}
#select-style .swiper-slide:hover {
    transition: all 0.8s;
    opacity: 1;
}
#select-style {
    background: #e6e6e6;
}
#select-style .swiper-wrapper a {
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px #000;
}
#select-style .swiper-wrapper a p {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    color: #fff;
}
/** WebCam*/
#video,
#photo {
    display: none;
    object-fit: scale-down;
    width: 100%;
    max-height: 466px;
}

#canvas {
    display: none;
}

.camera,
.output {
    display: block;
    position: relative;
    border: solid;
    display: none;
}

@media screen and (max-width: 787px) {
    .camera,
    .output {
        width: 100%;
    }
}
#startbutton {
    display: none;
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: solid 3px #000;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(139, 35, 63, 0.7);
}

#backtoupload,
#resumeTakePhoto {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1);
}

/** Transfer Result */
#transfer-img {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#output-img-bg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    filter: grayscale(50%) blur(5px);
    img {
        width: 100%;
    }
}
#output-img {
    display: flex;
    justify-content: center;
    img {
        object-fit: scale-down;
        width: 100%;
        max-height: 466px;
    }
}

#control-btn > div {
    position: fixed;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: solid 3px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 5px;
    cursor: pointer;
    display: none;
}
#control-btn div a {
    color: #000;
}

#control-btn > div:hover {
    width: 62px;
    height: 62px;
}

#control-btn div:first-child {
    right: 0;
    top: 20%;
    background: rgba(139, 35, 63, 0.7);
}

#control-btn div:nth-child(2) {
    right: 0;
    top: 30%;
    background: rgba(139, 35, 63, 0.7);
}

#control-btn div:nth-child(3) {
    right: 0;
    top: 40%;
    background: rgba(139, 35, 63, 0.7);
}

/*******************Filter/ Background Modal*******/
#filter-area,
#bg-change-area {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 70; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    margin: 0;
}

.creation-modal {
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    .preview {
        flex: 1;
    }
    .filter-slider {
        width: 40%;
    }
    .bgchange-control {
        width: 50%;
    }

    h4 {
        text-align: center;
        color: #fff;
        font-weight: bold;
        background: #c86371;
        padding: 10px;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
        border: solid 1px #000;
    }
}
#creation-modal-content {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
#creation-modal-content > div {
    img {
        width: 100%;
    }
}
.creation-modal .decide-btn {
    font-size: 23px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    display: flex;
    justify-content: space-around;
    div {
        width: 50px;
        height: 50px;
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        color: #fff;
        border: solid 1px #888;
        z-index: 80;
    }
}

#bg-change-area .decide-btn #bg-confirm-btn {
    display: none;
}
.creation-modal .decide-btn div:hover {
    width: 55px;
    height: 55px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0.5px 0.5px 2px #e6e6e6;
}
@media screen and (max-width: 1024px) {
    .creation-modal {
        flex-direction: column;
        .preview {
            width: auto;
        }
    }
}
@media screen and (max-width: 768px) {
    .creation-modal .decide-btn {
        position: fixed;
        bottom: 50% !important;
        display: flex;
        flex-direction: column;
        right: -150px;
        div {
            background-color: rgba(0, 0, 0, 0.8);
        }
        span {
            font-size: 15px;
        }
    }
    #creation-modal-content {
        flex-direction: column;
    }
    .creation-modal .bgchange-control {
        width: 100%;
    }
    div#preset-img .preset-img {
        width: 70px !important;
        height: 70px !important;
    }
    .creation-modal .filter-slider {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .creation-modal .decide-btn {
        right: -70px;
    }
}
// Changing Background
#preset-bg button,
.bgchange-control #trigger-file-upload,
button#presetBgImageBtn,
button#uploadBgImageBtn {
    width: 95%;
    border: solid #fff;
}
button#presetBgImageBtn,
button#uploadBgImageBtn {
    display: none;
    background-color: #c86371;
}
#selected-bg {
    display: flex;
    justify-content: center;
    img {
        width: 40% !important;
    }
}
#preset-bg,
#upload-bg {
    margin-top: 20px;
}

// Preset Background Slider
div#preset-img {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    .preset-img {
        width: 150px;
        height: 150px;
        margin: 10px;
        cursor: pointer;
    }
    .preset-img.active {
        border: solid 2px #fff;
    }
}

// Loading Effect on changing background
.bgchange-control {
    width: 50%;
    position: relative;
    #load-effect {
        position: absolute;
    }
}

// Filter Range Slider
.filter-slider > div {
    display: flex;
    color: #fff;
    justify-content: space-around;
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.filter-slider > div > label {
    width: 40%;
    text-align: end;
}

input[type="range"] {
    width: 40%;
    appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    &::-moz-range-thumb {
        border: none;
    }
}
.filter-slider .slider {
    height: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -2px -2px 8px #000, 2px 2px 8px rgba(black, 0.5);
    background: #e0e0e0;

    @mixin track-style {
        display: flex;
        align-items: center;
        height: 20px;
        border-radius: 10px;
        box-shadow: inset -1px -1px 1px #000, inset 1px 1px 1px rgba(black, 0.5);
    }

    @mixin thumb-style {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: -1px -1px 2px #000, 1px 1px 2px rgba(black, 0.3);
        background-color: #e0e0e0;
        background-image: linear-gradient(
            -45deg,
            rgba(white, 0.8),
            transparent
        );
    }
    &::-webkit-slider-runnable-track {
        @include track-style;
    }
    &::-webkit-slider-thumb {
        @include thumb-style;
    }
    &::-moz-range-track {
        @include track-style;
    }
    &::-moz-range-thumb {
        @include thumb-style;
    }
}

@media screen and (max-width: 767px) {
    .filter-slider > div {
        flex-direction: column;
    }
    .filter-slider > div > label {
        width: 100%;
        text-align: center;
    }
    input[type="range"] {
        width: 100%;
    }
}

/**************************Loading Effect after clicking transfer style*********************/
#load-effect {
    display: none;
    background: #c86371;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10000;
    margin: 0;
}
.loading {
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
}

.loading span {
    position: relative;
    z-index: 999;
    color: #fff;
    font-weight: bold;
}
.loading:before {
    content: "";
    background: #000;
    width: 250px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
    0% {
        transform: translateX(-14px);
    }
    50% {
        transform: translateX(14px);
    }
    100% {
        transform: translateX(-14px);
    }
}

.loading:after {
    content: "";
    background: #61bdb6;
    width: 14px;
    height: 60px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.5;

    animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
}

/////////////////////////// Background remove

/* Modal Content */
.bg-modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    flex-direction: row;
    transition-duration: 0.8s;
    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .modal-content {
        width: 100%;
    }
}
