@import "./navbar";
@import "./font";
@import "./general";
$main-border-margin: 2.5rem;
$box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
body {
    background-color: #fff;
}
body::after {
    content: "";
    display: inline-block;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url(/img/coffee.png);
    position: absolute;
    bottom: 0px;
    right: -15px;
    opacity: 0.1;
}
#edit-profile {
    display: flex;
    justify-content: space-between;
}
#edit-profile #profile-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
    border: solid 3px #000;
    height: fit-content;
    box-shadow: 5px 5px 5px;
    div {
        margin: 10px;
    }
}

#edit-profile #profile-left > div > a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        background: #fff;
        color: #666;
        padding: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 2px #666;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#edit-profile #profile-left > div > a.active {
    color: #000;
    i {
        color: #000;
        border: solid 2px #000;
    }
}

#edit-profile #profile-left div p {
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}
#edit-profile #profile-left div:nth-child(5) {
    margin: 0 auto;
}
#edit-profile #creation-profile-right,
#edit-profile #profile-right {
    flex: 1;
}

#edit-profile #profile-right {
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    margin-left: 30px;
    border: solid 3px;
    box-shadow: 5px 5px 5px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(229%2c 150%2c 163%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c551.36C104.672%2c536.106%2c210.047%2c522.485%2c298.538%2c464.534C386.563%2c406.888%2c451.01%2c321.633%2c496.023%2c226.526C541.486%2c130.468%2c571.446%2c25.204%2c556.247%2c-79.976C541.053%2c-185.118%2c472.893%2c-269.906%2c411.733%2c-356.769C343.961%2c-453.023%2c291.454%2c-575.267%2c180.274%2c-613.957C68.291%2c-652.926%2c-47.43%2c-580.996%2c-163.538%2c-556.958C-291.685%2c-530.427%2c-448.195%2c-561.427%2c-537.134%2c-465.429C-626.001%2c-369.509%2c-611.707%2c-216.421%2c-599.662%2c-86.218C-589.39%2c24.812%2c-512.759%2c111.921%2c-474.048%2c216.49C-431.245%2c332.112%2c-460.934%2c489.401%2c-360.234%2c560.536C-260.098%2c631.272%2c-121.319%2c569.04%2c0%2c551.36' fill='%23d75c70'%3e%3c/path%3e%3cpath d='M1440 945.229C1514.968 939.4490000000001 1588.324 929.235 1655.174 894.818 1727.088 857.794 1805.339 815.718 1836.519 741.0840000000001 1867.49 666.951 1831.136 584.907 1817.7440000000001 505.689 1804.71 428.589 1806.694 345.534 1759.156 283.45 1710.467 219.86399999999998 1634.376 181.678 1556.23 164.159 1480.925 147.277 1402.279 158.80599999999998 1330.586 187.372 1263.095 214.264 1202.594 259.217 1163.682 320.56899999999996 1127.589 377.475 1129.473 447.354 1123.142 514.443 1117.124 578.213 1115.6190000000001 639.739 1127.625 702.657 1142.871 782.55 1138.151 879.842 1202.391 929.727 1266.376 979.414 1359.228 951.457 1440 945.229' fill='%23f3d0d6'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    height: fit-content;
}

#edit-profile #profile-right.my-creations {
    button a {
        color: #fff;
        text-decoration: none;
    }
}

#edit-profile-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    input {
        margin: 10px 0;
    }
    button {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    #edit-profile #profile-left {
        display: none;
    }

    #edit-profile #profile-right,
    #edit-profile-form {
        width: 100%;
        margin: 0;
    }
}

// No record Handling
.no-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    img {
        width: 200px;
        height: 200px;
    }
}
// Subsccription
#subscription-details {
    display: flex;
    justify-content: space-between;
    width: 50%;

    .detail {
        margin: 10px;
        h5 span {
            text-transform: capitalize;
        }
    }
}

#subscription-details div:first-child {
    border: solid;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    i {
        font-size: 40px;
    }
}
#cancel-plan {
    width: 40%;
    margin-top: 30px;
    opacity: 0.5;
}

// My Creations
#edit-profile #profile-right.my-creations {
    padding: 15px;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
#edit-profile #profile-right.my-creations::after {
    content: none;
}
#creation-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#creation-list > div {
    width: 30%;
    margin: 10px;
    //border: solid 5px #000;
    border-radius: 15px;
    position: relative;
    img {
        width: 100%;
        border-radius: 10px;
    }
    .creation-details {
        position: absolute;
        bottom: 0;
        background: #fff;
        width: 100%;
        color: rgb(108, 113, 118);
        opacity: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        height: 20%;
        border-radius: 10px;
        font-weight: bold;
        p {
            margin: 0;
        }
        i {
            cursor: pointer;
            font-size: 20px;
        }
        i:hover {
            color: rgb(90, 113, 118);
            font-size: 22px;
        }
    }
}
@media screen and (max-width: 1024px) {
    #creation-list {
        margin: 30px 0;
    }
    #creation-list > div {
        width: 100%;
        margin: 20px 0;
    }
    #subscription-details {
        width: 100%;
        flex-direction: column;
    }
    #cancel-plan {
        width: 100%;
    }
}

#creation-list > div:hover > .creation-details {
    opacity: 0.95;
    transition: 0.5s ease-in;
}

// pagination
@keyframes cdp-in {
    from {
        transform: scale(1.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cdp {
    position: relative;
    text-align: center;
    padding: 20px 0;
    font-size: 0;
    z-index: 6;
    margin: 50px 0;

    animation: cdp-in 500ms ease both;

    &_i {
        font-size: 14px;
        text-decoration: none;
        transition: all 250ms;
        display: inline-block;
        text-transform: uppercase;
        margin: 0 3px 6px;
        height: 38px;
        min-width: 38px;
        border-radius: 38px;
        border: 2px solid #fff;
        line-height: 38px;
        padding: 0;
        background-color: #666;
        color: #fff;
        font-weight: 700;
        letter-spacing: 0.03em;

        &:first-child,
        &:last-child {
            padding: 0 16px;
            margin: 0 12px 6px;
        }

        &:last-child,
        &:nth-child(2),
        &:nth-last-child(2) {
            display: inline-block;
        }
    }

    &_i:hover {
        background-color: #000;
        color: #fff;
    }

    &:not([actpage="1"]) &_i:nth-child(1) {
        display: inline-block;
    }
}
@for $i from 1 through 80 {
    .cdp[actpage="#{$i}"] {
        // 3 before
        .cdp_i:nth-child(#{$i - 2}):not(:first-child):not(:nth-child(2)) {
            display: inline-block;
            pointer-events: none;
            color: transparent;
            border-color: transparent;
            width: 50px;
            &:after {
                content: "...";
                color: #fff;
                font-size: 32px;
                margin-left: -6px;
            }
        }
        // 2 before
        .cdp_i:nth-child(#{$i - 1}):not(:first-child) {
            display: inline-block;
        }
        // before
        .cdp_i:nth-child(#{$i}):not(:first-child) {
            display: inline-block;
        }
        // active
        .cdp_i:nth-child(#{$i + 1}) {
            background-color: #000;
            color: #fff;
            display: inline-block;

            + .cdp_i:last-child {
                display: none !important;
            }
        }
        // next
        .cdp_i:nth-child(#{$i + 2}):not(:last-child) {
            display: inline-block;
        }
        // 2 next
        .cdp_i:nth-child(#{$i + 3}):not(:last-child) {
            display: inline-block;
        }
        // 3 next
        .cdp_i:nth-child(#{$i + 4}):not(:last-child):not(:nth-last-child(2)) {
            display: inline-block;
            pointer-events: none;
            color: transparent;
            border-color: transparent;
            width: 50px;
            &:after {
                content: "...";
                color: #fff;
                font-size: 32px;
                margin-left: -6px;
            }
        }
    }
}
