@import "./navbar";
@import "./font";
@import "./general";
$main-border-margin: 2.5rem;
$box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

/***************** Header *****************/
header h1 {
    margin: 1.5rem 0;
}
#subscription-header h1 {
    color: #fff;
}
/***************** Card *****************/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem;

    h3 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 3rem;
    }

    .card {
        box-shadow: $box-shadow;
        margin: 0.5rem $main-border-margin;
        padding: 1rem;
        flex: 1;
        min-width: 250px;
        max-width: 550px;

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: hidden;

        .plan-discount {
            background-color: #c86371;
            box-sizing: content-box;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            height: 30px;
            opacity: 1;
            padding: 0 30px;
            position: absolute;
            top: 25px;
            right: -31px;
            text-align: center;
            transform: rotateZ(45deg);
            width: 80px;
        }
        button {
            min-width: 50%;
        }

        &:hover {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        }
    }
    .card.free button {
        color: #666;
        background: #fff;
        border: solid 1px #666;
    }
    .card.yearly {
        border: solid 1px #c86371;
        button {
            background: #c86371;
            color: #fff;
            border: solid 1px #000;
        }
    }

    ul {
        padding: 0;
        li {
            text-align: left;
            line-height: 2;
            font-size: 1rem;
            list-style-type: none;
            list-style-position: inside;

            &:before {
                content: "\f00c";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                padding: 0 10px 0 0;
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    .card-container {
        .card {
            margin: 0.5rem;
            max-width: 100%;
        }
    }
}
