header {
  min-height: 50px;
  padding: 0;
}

#triggerMenuBtn {
  z-index: 101;
  font-weight: bold;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#triggerMenuBtn a {
  cursor: pointer;
  z-index: 101;
  color: #fff;
}

@media screen and (max-width: 767px) {
  #triggerMenuBtn {
    padding: 20px 20px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 90;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-100%);
  transition-duration: 0.8s;
  font-size: 40px;
  font-weight: 900;
}

#navMenu a {
  color: #fff;
  text-decoration: none;
}

#navMenu > ul,
.menu-dropbtn,
.menu-dropdown-content {
  color: #fff;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.menu-dropbtn {
  display: none;
}

.menu-dropdown-content {
  display: none;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

.menu-dropdown-content li {
  font-size: 18px;
}

/** Header Image*/
#img-header {
  height: calc(100vh - 62.5px);
  width: 100%;
  overflow: hidden;
  background-color: #000;
  transition: all 10s ease-in-out;
  transform: translateX(0%);
}

#img-header h1 {
  font-size: 90px;
  color: #fff;
  text-shadow: 5px 5px 5px #000;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  #img-header h1 {
    font-size: 48px;
  }
  #animated-area {
    left: 0 !important;
  }
}

#scroll-load {
  color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  cursor: pointer;
  transform: translate3d(-105.5px, 0px, 0px);
}

#scroll-load .text {
  padding: 0 10px;
  font-weight: bold;
}

.scroll-line {
  position: relative;
  height: 30px;
  width: 2px;
}

.scroll-line span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#animated-area {
  perspective: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

#inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

path {
  display: none;
}

/* Login Form/ Register: The Modal (background) */
.modal,
#myModalForceLogin {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  flex-direction: row;
  transition-duration: 0.8s;
}

.modal-content img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  #scroll-load {
    left: 38%;
  }
  .modal-content {
    width: 100%;
  }
}

#modal-left {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
  filter: drop-shadow(2px 4px 6px black);
  background: linear-gradient(#e66465, #9198e5);
  background-image: url(/img/modal-1.jpg);
  background-repeat: round;
}

#modal-left div {
  position: absolute;
  bottom: 10%;
  text-shadow: 5px 5px 5px black;
}

#modal-right {
  flex: 1;
  padding: 20px;
  color: #fff;
  font-size: initial;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 1279px) {
  #modal-left {
    display: none;
  }
  #modal-right {
    width: 100%;
  }
}

/**Login Form*/
.social-login {
  display: flex;
  flex-direction: column;
}

.social-login a {
  padding: 0px;
  text-decoration: none;
  margin: 10px 0;
}

.fb-login.btn,
.google-login.btn {
  border: solid 4px #db4a39;
  display: flex;
  align-items: center;
  padding: 0;
  text-transform: none;
  height: 40px;
  width: 100%;
  background-color: #db4a39;
}

.fb-login.btn {
  border: solid 4px #3b5998;
  background-color: #3b5998;
}

.fb-login.btn i,
.google-login.btn i {
  display: flex;
  align-items: center;
  height: 100%;
  background: #db4a39;
  color: #fff;
  padding: 0 15px;
}

.fb-login.btn i {
  background: #3b5998;
}

.fb-login.btn p,
.google-login.btn p {
  margin: 0;
  color: #000;
  width: 100%;
  color: #fff;
  font-weight: bold;
}

.separate-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separate-line hr {
  width: 45%;
}

/**Register And Login*/
#register-form div.submit,
#login-form div.submit {
  display: flex;
  justify-content: center;
}

#login-form > div {
  margin-top: 10px;
}

#register-form {
  display: none;
}

#switch-login-register {
  cursor: pointer;
  text-align: center;
  color: #848889;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #000;
  text-align: center;
}

h2 {
  font-size: 38px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 600;
}

h5 {
  font-size: 25px;
  font-weight: 600;
  font-weight: bold;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
  }
}

section {
  margin-top: 50px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

button {
  color: #fff;
  background-color: #000;
  border: none;
  padding: 10px;
  font-weight: bold;
  margin: 5px;
  text-transform: uppercase;
}

#system-response {
  position: fixed;
  top: 5px;
  left: 50%;
  background: #c86370;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  animation-duration: 2s;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 101;
  text-align: center;
}

#system-response p {
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

body {
  overflow: hidden;
}

#upgrade-plan {
  display: none;
  position: fixed;
  top: 5px;
  right: 0;
  background: #c86370;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 101;
  text-align: center;
}

#upgrade-plan p {
  margin: 0;
}

#upgrade-plan p a {
  color: #fff;
  text-decoration: none;
}

/** Progress Bar*/
#progress-bar.home,
#img-uploa.home {
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

#progress-bar.after-scroll.home,
#img-upload.after-scroll.home {
  transform: rotateZ(0deg);
}

#progress-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  color: #666;
  font-weight: bold;
}

#progress-bar li {
  opacity: 0.3;
}

#progress-bar li.active {
  color: #000;
  opacity: 1;
  color: #c86371;
}

#progress-bar li:first-child div::before {
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f093";
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
  #progress-bar ul {
    width: 100%;
  }
  #progress-bar li:first-child div::before {
    margin: 0;
  }
}

#progress-bar li:nth-child(2) div::before {
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1fc";
  margin: 0 10px;
}

#progress-bar li:nth-child(3) div::before {
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin: 0 10px;
}

#progress-bar li .tobe-cont::after {
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  vertical-align: middle;
  margin: 0 30px;
}

/**Upload Image*/
#img-upload .upload-area {
  min-height: 500px;
  background: linear-gradient(45deg, #eeeeee 25%, transparent 25%), linear-gradient(-45deg, #eeeeee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eeeeee 75%), linear-gradient(-45deg, transparent 75%, #eeeeee 75%);
  background-size: 20px 20px;
  background-position: 0px 0px, 0px 10px, 10px -10px, -10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#img-upload .upload-area i {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-size: 25px;
  display: none;
}

#img-upload .upload-area img {
  object-fit: scale-down;
  width: 100%;
  max-height: 466px;
}

@media screen and (max-width: 767px) {
  #img-upload .upload-area {
    width: 100%;
  }
}

/** Slider*/
#select-style .swiper-container {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#select-style .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 20px;
  opacity: 0.6;
}

#select-style .swiper-slide:hover {
  transition: all 0.8s;
  opacity: 1;
}

#select-style {
  background: #e6e6e6;
}

#select-style .swiper-wrapper a {
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 5px #000;
}

#select-style .swiper-wrapper a p {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  color: #fff;
}

/** WebCam*/
#video,
#photo {
  display: none;
  object-fit: scale-down;
  width: 100%;
  max-height: 466px;
}

#canvas {
  display: none;
}

.camera,
.output {
  display: block;
  position: relative;
  border: solid;
  display: none;
}

@media screen and (max-width: 787px) {
  .camera,
  .output {
    width: 100%;
  }
}

#startbutton {
  display: none;
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: solid 3px #000;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(139, 35, 63, 0.7);
}

#backtoupload,
#resumeTakePhoto {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: white;
}

/** Transfer Result */
#transfer-img {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#output-img-bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.6;
  filter: grayscale(50%) blur(5px);
}

#output-img-bg img {
  width: 100%;
}

#output-img {
  display: flex;
  justify-content: center;
}

#output-img img {
  object-fit: scale-down;
  width: 100%;
  max-height: 466px;
}

#control-btn > div {
  position: fixed;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border: solid 3px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 5px;
  cursor: pointer;
  display: none;
}

#control-btn div a {
  color: #000;
}

#control-btn > div:hover {
  width: 62px;
  height: 62px;
}

#control-btn div:first-child {
  right: 0;
  top: 20%;
  background: rgba(139, 35, 63, 0.7);
}

#control-btn div:nth-child(2) {
  right: 0;
  top: 30%;
  background: rgba(139, 35, 63, 0.7);
}

#control-btn div:nth-child(3) {
  right: 0;
  top: 40%;
  background: rgba(139, 35, 63, 0.7);
}

/*******************Filter/ Background Modal*******/
#filter-area,
#bg-change-area {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 70;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  margin: 0;
}

.creation-modal {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.creation-modal .preview {
  flex: 1;
}

.creation-modal .filter-slider {
  width: 40%;
}

.creation-modal .bgchange-control {
  width: 50%;
}

.creation-modal h4 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: #c86371;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  border: solid 1px #000;
}

#creation-modal-content {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

#creation-modal-content > div img {
  width: 100%;
}

.creation-modal .decide-btn {
  font-size: 23px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.creation-modal .decide-btn div {
  width: 50px;
  height: 50px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  border: solid 1px #888;
  z-index: 80;
}

#bg-change-area .decide-btn #bg-confirm-btn {
  display: none;
}

.creation-modal .decide-btn div:hover {
  width: 55px;
  height: 55px;
  background-color: black;
  box-shadow: 0.5px 0.5px 2px #e6e6e6;
}

@media screen and (max-width: 1024px) {
  .creation-modal {
    flex-direction: column;
  }
  .creation-modal .preview {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .creation-modal .decide-btn {
    position: fixed;
    bottom: 50% !important;
    display: flex;
    flex-direction: column;
    right: -150px;
  }
  .creation-modal .decide-btn div {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .creation-modal .decide-btn span {
    font-size: 15px;
  }
  #creation-modal-content {
    flex-direction: column;
  }
  .creation-modal .bgchange-control {
    width: 100%;
  }
  div#preset-img .preset-img {
    width: 70px !important;
    height: 70px !important;
  }
  .creation-modal .filter-slider {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .creation-modal .decide-btn {
    right: -70px;
  }
}

#preset-bg button,
.bgchange-control #trigger-file-upload,
button#presetBgImageBtn,
button#uploadBgImageBtn {
  width: 95%;
  border: solid #fff;
}

button#presetBgImageBtn,
button#uploadBgImageBtn {
  display: none;
  background-color: #c86371;
}

#selected-bg {
  display: flex;
  justify-content: center;
}

#selected-bg img {
  width: 40% !important;
}

#preset-bg,
#upload-bg {
  margin-top: 20px;
}

div#preset-img {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

div#preset-img .preset-img {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
}

div#preset-img .preset-img.active {
  border: solid 2px #fff;
}

.bgchange-control {
  width: 50%;
  position: relative;
}

.bgchange-control #load-effect {
  position: absolute;
}

.filter-slider > div {
  display: flex;
  color: #fff;
  justify-content: space-around;
  margin-top: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-slider > div > label {
  width: 40%;
  text-align: end;
}

input[type="range"] {
  width: 40%;
  appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  border: none;
}

.filter-slider .slider {
  height: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -2px -2px 8px #000, 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #e0e0e0;
}

.filter-slider .slider::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -1px -1px 1px #000, inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.filter-slider .slider::-webkit-slider-thumb {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: -1px -1px 2px #000, 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #e0e0e0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
}

.filter-slider .slider::-moz-range-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -1px -1px 1px #000, inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.filter-slider .slider::-moz-range-thumb {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: -1px -1px 2px #000, 1px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: #e0e0e0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
}

@media screen and (max-width: 767px) {
  .filter-slider > div {
    flex-direction: column;
  }
  .filter-slider > div > label {
    width: 100%;
    text-align: center;
  }
  input[type="range"] {
    width: 100%;
  }
}

/**************************Loading Effect after clicking transfer style*********************/
#load-effect {
  display: none;
  background: #c86371;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 10000;
  margin: 0;
}

.loading {
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  transform: translateY(-50%);
}

.loading span {
  position: relative;
  z-index: 999;
  color: #fff;
  font-weight: bold;
}

.loading:before {
  content: "";
  background: #000;
  width: 250px;
  height: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0% {
    transform: translateX(-14px);
  }
  50% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-14px);
  }
}

.loading:after {
  content: "";
  background: #61bdb6;
  width: 14px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
  animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

/* Modal Content */
.bg-modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  flex-direction: row;
  transition-duration: 0.8s;
}

.bg-modal-content img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=creation.css.map */