header {
  min-height: 50px;
  padding: 0;
}

#triggerMenuBtn {
  z-index: 101;
  font-weight: bold;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#triggerMenuBtn a {
  cursor: pointer;
  z-index: 101;
  color: #fff;
}

@media screen and (max-width: 767px) {
  #triggerMenuBtn {
    padding: 20px 20px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 90;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-100%);
  transition-duration: 0.8s;
  font-size: 40px;
  font-weight: 900;
}

#navMenu a {
  color: #fff;
  text-decoration: none;
}

#navMenu > ul,
.menu-dropbtn,
.menu-dropdown-content {
  color: #fff;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.menu-dropbtn {
  display: none;
}

.menu-dropdown-content {
  display: none;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

.menu-dropdown-content li {
  font-size: 18px;
}

/** Header Image*/
#img-header {
  height: calc(100vh - 62.5px);
  width: 100%;
  overflow: hidden;
  background-color: #000;
  transition: all 10s ease-in-out;
  transform: translateX(0%);
}

#img-header h1 {
  font-size: 90px;
  color: #fff;
  text-shadow: 5px 5px 5px #000;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  #img-header h1 {
    font-size: 48px;
  }
  #animated-area {
    left: 0 !important;
  }
}

#scroll-load {
  color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  cursor: pointer;
  transform: translate3d(-105.5px, 0px, 0px);
}

#scroll-load .text {
  padding: 0 10px;
  font-weight: bold;
}

.scroll-line {
  position: relative;
  height: 30px;
  width: 2px;
}

.scroll-line span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#animated-area {
  perspective: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

#inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

path {
  display: none;
}

/* Login Form/ Register: The Modal (background) */
.modal,
#myModalForceLogin {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  flex-direction: row;
  transition-duration: 0.8s;
}

.modal-content img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  #scroll-load {
    left: 38%;
  }
  .modal-content {
    width: 100%;
  }
}

#modal-left {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
  filter: drop-shadow(2px 4px 6px black);
  background: linear-gradient(#e66465, #9198e5);
  background-image: url(/img/modal-1.jpg);
  background-repeat: round;
}

#modal-left div {
  position: absolute;
  bottom: 10%;
  text-shadow: 5px 5px 5px black;
}

#modal-right {
  flex: 1;
  padding: 20px;
  color: #fff;
  font-size: initial;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 1279px) {
  #modal-left {
    display: none;
  }
  #modal-right {
    width: 100%;
  }
}

/**Login Form*/
.social-login {
  display: flex;
  flex-direction: column;
}

.social-login a {
  padding: 0px;
  text-decoration: none;
  margin: 10px 0;
}

.fb-login.btn,
.google-login.btn {
  border: solid 4px #db4a39;
  display: flex;
  align-items: center;
  padding: 0;
  text-transform: none;
  height: 40px;
  width: 100%;
  background-color: #db4a39;
}

.fb-login.btn {
  border: solid 4px #3b5998;
  background-color: #3b5998;
}

.fb-login.btn i,
.google-login.btn i {
  display: flex;
  align-items: center;
  height: 100%;
  background: #db4a39;
  color: #fff;
  padding: 0 15px;
}

.fb-login.btn i {
  background: #3b5998;
}

.fb-login.btn p,
.google-login.btn p {
  margin: 0;
  color: #000;
  width: 100%;
  color: #fff;
  font-weight: bold;
}

.separate-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separate-line hr {
  width: 45%;
}

/**Register And Login*/
#register-form div.submit,
#login-form div.submit {
  display: flex;
  justify-content: center;
}

#login-form > div {
  margin-top: 10px;
}

#register-form {
  display: none;
}

#switch-login-register {
  cursor: pointer;
  text-align: center;
  color: #848889;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #000;
  text-align: center;
}

h2 {
  font-size: 38px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 600;
}

h5 {
  font-size: 25px;
  font-weight: 600;
  font-weight: bold;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}
/*# sourceMappingURL=payment.css.map */